* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  height: 100%;

}

.navbar-container {
  height: 50px;
  background-color: #0a2a39;
}

.docuchat-brand {
  font-size: 25px;
  padding: 10px;
  color: white;
  font-weight: 900;
  /*font-family: 'Courgette', cursive;*/
}

.root-container {
  height: calc(100% - 50px);
}

.login-container {
  background-color: white;
  height: 100%;
}

.login-widget {
  position: absolute;
  width: 350px;
  height: 400px;
  border-radius: 4px;
  top: calc(200px);
  left: calc(50% - 175px);
  transition: .3s;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px 3px #d1d1d1;
}

.intro-container {
  background-color: white;
  height: 100%;
}

.intro-widget {
  transition: .3s;
  position: absolute;
  width: 350px;
  height: 400px;
  top: calc(200px);
  border-radius: 4px;
  left: calc(50% - 175px);
  background-color: #102e3b;
  box-shadow: 2px 2px 10px 3px #d1d1d1;
}

.welcome-header {
  color: white;
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  font-weight: 900;
  font-size: 22px;
  padding-bottom: 20px;
  border-bottom: 1px solid #2b61a8;
}

.welcome-body {
  color: white;
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
  text-align: center;
  height: 180px;
  font-weight: 600;
  font-size: 17px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #2b61a8;
}

.continue-button {
  margin: 50px;
  margin-top: 0px;
  width: calc(100% - 100px);
  height: 50px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 15px;
  font-weight: 700;
  transition: .3s;
}

.continue-button:hover {
  transition: .3s;
  cursor: pointer;
  background-color: #2b61a8;
}

.login-button {
  position: absolute;
  margin: 50px;
  margin-top: 0px;
  bottom: 0;
  width: calc(100% - 100px);
  height: 50px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 15px;
  font-weight: 700;
  transition: .3s;
}

.login-button:hover {
  transition: .3s;
  cursor: pointer;
  background-color: #2b61a8;
}

.login-input-container {
  margin: 50px;
  font-size: 15px;
  margin-top: 10px;
  padding: 10px;
  width: calc(100% - 120px);
  height: 12px;
}

.explainer-widget {
  transition: .3s;
  position: absolute;
  width: 350px;
  height: 400px;
  top: calc(200px);
  border-radius: 4px;
  left: calc(50% - 175px);
  background-color: #102e3b;
  box-shadow: 2px 2px 10px 3px #d1d1d1;
}

.explainer-body {
  text-align: left;
  color: white;
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
  height: 180px;
  font-weight: 600;
  font-size: 17px;
  padding-top: 0px;
  padding-bottom: 50px;
  border-bottom: 1px solid #2b61a8;
}

.explainer-item {
  padding-bottom: 10px;
}

.admin-button {
  visibility: visible;
  width: calc(100% - 20px);
  padding: 10px;
  color: white;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid white;
  font-weight: 900;
  margin: 10px;
  margin-top: 0px;
}

.admin-button:hover {
  transition: .3s;
  background-color: #2b61a8;
  cursor: pointer;
}

.admin-button-hidden {
  visibility: hidden;
}